                <div id="about" class="container-fluid about">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 col-md-offset-3 col-md-4 bio-info">
                                    <h4>BIOGRAPHY</h4>
                                    <div class="line-back biography"></div><div class="circle-forward biography-circle"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat metus lacus. Morbi venenatis vehicula ligula vitae dapibus. Ut semper neque eu metus fermentum suscipit. Morbi id dolor accumsan lorem blandit dapibus id blandit quam. Quisque tempus velit quis augue varius iaculis et at sapien. Nulla at velit convallis, cursus ligula in, dapibus mauris. Donec scelerisque tortor nunc, sit amet rutrum neque aliquam at. Sed eleifend felis nec efficitur ultrices. Nullam dapibus laoreet pharetra. Etiam non tristique purus. Donec bibendum molestie suscipit. Nulla viverra nunc eget aliquam vehicula. Donec non sapien ut lacus aliquet mattis. Nulla consectetur malesuada eros, non aliquet ex ultrices sed. Duis vitae urna tristique, semper diam sed, semper leo.</p>
                                    <p>Cras vitae risus quis nulla facilisis condimentum id ac nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ut tellus aliquet, pellentesque dui ac, varius leo. Vivamus commodo bibendum turpis at auctor. Vivamus quis velit mauris. Vestibulum sed rutrum sem. Proin eros dolor, ultrices at nibh at, suscipit rutrum nunc. Aliquam molestie feugiat dui, non lobortis nunc vehicula sed. Aenean eu pharetra dolor, in lacinia ante. Nunc semper dignissim mi, ut luctus lectus.</p>
                                    
                                </div>
                                <div class="hidden-xs hidden-sm col-md-3 col-md-offset-0 bio-photo"></div>
                            </div>
                        </div>
                    </div>
                </div>