                <div id="contact" class="container-fluid contact">
                    
                            <div class="row contact-form">
                                <div class="col-xs-12 col-md-2 col-md-offset-3 phone">
                                    <span>phone</span>
                                    <p class="info">+447908079062</p>
                                </div>  
                                <div class="col-xs-12 col-md-2 email">
                                    <span>email</span>
                                    <p class="info">tuchowskyy@gmail.com</p>
                                </div>  
                                <div class="cos-xs-12 col-md-2 follow">
                                    <span>follow</span>
                                    <p class="info">
                                    <a href="https://www.facebook.com/Tuchowsky-291717824348325" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="https://twitter.com/Tuchowsky" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://www.youtube.com/channel/UCHaYDoBoyQ07bO7Py7Q-tsQ" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    <a href="https://soundcloud.com/tuchowsky-official" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
                                    </p>
                                </div>  
                            </div>
                    
                </div>
            <!-- </div>
        </div>
       -->
