<!-- <div class="container-fluid wrapper">
            <div class="row"> -->
        
                <div id="home" class="container-fluid home">
                    <div class="row">
                        <div class="hidden-xs hidden-sm col-md-12 menu">
                            <div class="menu-box">
                                <div class="line-back"></div><div class="circle-back"></div>
                                    <ul class="menu-list">
                                        <li><a href="#home">HOME</a></li>
                                        <li><a href="#about">ABOUT</a></li>
                                        <li><a href="#music">MUSIC</a></li>
                                        <li><a href="#contact">CONTACT</a></li>
                                    </ul>
                                <div class="line-forward"></div><div class="circle-forward"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row overlay hidden-nav">
                        <div class="hidden-md hidden-lg hidden-xl col-xs-12 hidden-nav-overlay">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="hidden-md hidden-lg hidden-xl col-xs-2 col-xs-offset-5 menu-small">
                            <div class="menu-box-small">
                                <div class="line-back-small"></div><div class="circle-back-small"></div>
                                <div class="line-forward-small"></div><div class="circle-forward-small"></div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="row brand-container">
                        <div class="col-xs-7 brand">

                            
                        <object class="svgBrand" type="image/svg+xml" data="svg/tuchowsky.svg">
                            <param name="src" value="svg/tuchowsky.svg">
                        </object>


                        </div>
                    </div>
                    <div class="row main-player">
                        
                        <div class="col-xs-7 main-player-number">
                        </div>
                        <div class="col-xs-7 main-player-wave">
                        </div>
                        <div class="col-xs-7 main-player-name">
                        </div>

                    </div>
                </div>


