                <div id="music" class="container-fluid music">
                    <div class="row music-elements">
                        <div class="col-md-12 hidden-xs hidden-sm">
                            <div class="round-player">
                                <div class="play-button play">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row music-tracklist">
                        <div class="col-xs-4 col-xs-offset-3">
                            <div class="list">
                                <div class="tracks-list">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>