$body-color: white
$menu-font-color: #e2e2e8
$contact-font-color: #020816

$hader-color: #5a5c51
$content-color: #024277
$footer-color: #aa863a

$body-photo: url("../gfx/tuchowsky.jpg")
$home-photo: url("../gfx/background-tuchowsky-home.jpg")
$about-photo: url("../gfx/background-tuchowsky-about.jpg")
$music-photo: url("../gfx/background-tuchowsky-music.jpg")
$contact-photo: url("../gfx/background-tuchowsky-contact.jpg")
$bio-photo: url("../gfx/background-tuchowsky-about-bio.jpg")


*
    margin: 0
    padding: 0

body, html 
    height: 100%
    background-color: $body-color
    font-family: 'Raleway', sans-serif

// body
//     background-image: $home-photo
//     background-repeat: no-repeat
//     background-position: top
//     background-size: 100% auto

.container-fluid
    background-repeat: no-repeat
    background-position: top
    background-size: 100% 100%
    height: 100%
    
.home   
    background-image: $home-photo
    
.about
    background-image: $about-photo
 
.music
    background-image: $music-photo
  
.contact
    background-image: $contact-photo
//Main Menu
.menu
    position: fixed
    right: -15%
    top: 1vh
    z-index: 10

.menu-box > ul > li
    list-style-type: none
    padding-top: 20px

.menu-box > ul > li:nth-child(1)
    padding-bottom: 0px

.menu-box > ul > li:nth-child(4)
    padding-bottom: 30px

.menu-box > ul > li > a
    color: $menu-font-color
    text-decoration: none
    font-size: 1vw

a:hover
    font-weight: bold

.menu-list
    margin-top: 15px
    display: none
    transition: width 1s
//Menu Button
$menu-width: 4.5vw
$menu-width-under: 5vw
$menu-height: 3vw
$menu-circle-radius: 0.8vw
$menu-line-color: #e2e2e8

.menu-box
    position: fixed
    margin-top: 4.5vw
    width: $menu-width
    height: $menu-height
    background: none

.menu-small
    display: flex
    justify-content: center

.line-back
    width: $menu-width
    height: 1px
    background: $menu-line-color
    
.circle-back
    width: $menu-circle-radius
    height: $menu-circle-radius
    border-radius: 100%
    background: $menu-line-color
    margin-top: (-$menu-circle-radius/2)-0.04vw
    margin-left: $menu-width - $menu-circle-radius

.line-forward
    width: $menu-width
    height: 1px
    background: $menu-line-color
    margin-top: 1.3vw

.circle-forward
    width: $menu-circle-radius
    height: $menu-circle-radius
    border-radius: 100%
    background: $menu-line-color
    margin-top: (-$menu-circle-radius/2)-0.04vw
    margin-left: 0

.line-under-container
    position: relative
    width: $menu-width
    height: 1px

.anim-line
    animation: increase-horizontal 2s
    animation-fill-mode: forwards
    

.line-under
    position: absolute
    width: 100%
    height: 100%
    top: auto
    left: auto
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(226, 226, 232 ,1))
    

@keyframes increase-horizontal
    0% 
        width: 0px
    100%
        width: $menu-width-under

.line-under-rotate
    right: 0%
    transform-origin: 100%
    width: $menu-width
    transition: 1.5s ease-in-out

.anim-line-rot
    animation: increase-rotate 1.5s
    animation-fill-mode: forwards

@keyframes increase-rotate
    0% 
        width: 0px
    100%
        width: $menu-width

.circle-under
    position: absolute
    top: -$menu-circle-radius*0.4
    right: -$menu-circle-radius/2
    width: $menu-circle-radius*0.9
    height: $menu-circle-radius*0.9
    border-radius: 50%
    background-color: $menu-line-color
    
.rot-second
    transition-delay: 0.5s
.rot-third
    transition-delay: 1s
.rot-fourth
    transition-delay: 1.5s

//Home Section
.brand-container
    height: 100%
    display: flex
    justify-content: center
    align-items: center
  
.svgBrand
    width: 55vw
    height: 55vh
//About Section
.bio-info
    margin-top: 60px
    color: $menu-font-color
    font-size: 13px
    max-height: 255px
    overflow-y: scroll
.bio-photo
    margin-top: 60px
    margin-left: 5px
    background-image: $bio-photo
    background-repeat: no-repeat
    background-size: auto 100%
    min-height: 25vw

.line-back-bio
    width: $menu-width
    height: 1px
    background: $menu-line-color  
    
.bio-info::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2)
	border-radius: 5px
	background-color: rgba(0,0,0,1)


.bio-info::-webkit-scrollbar
	width: 5px
	background-color: rgba(0,0,0,0.2)

#style-2::-webkit-scrollbar-thumb
	border-radius: 5px
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2)
	background-color: #D62929

.biography
    width: 15vw

.biography-circle
    margin-left: 0

//Music Page Player
.music-elements 
    width: 100%

.round-player
    display: flex
    justify-content: center
    align-items: center
    margin: auto
    width: 15vw
    height: 15vw
    border-radius: 100%
    border: 2px solid #fff
    margin-top: 5vw

.music-tracklist
    margin-top: 65px

.tracks-list > ul
    height: 30px
    list-style-type: none

.play-button
	width: 0
	height: 0
	border-top: 2.5vw solid transparent
	border-left: 5.5vw solid $menu-font-color
	border-bottom: 2.5vw solid transparent

.play
    margin-left: 1.2vw
//Contact Section
.contact-form
    box-sizing: border-box
    margin-top: 20vw
    color: $contact-font-color
    font-weight: bold
    text-align: center
    font-size: 12px

.contact-info
    margin-bottom: 20px

.info
    height: 6vw
    font-size: 16px

.info a
    text-decoration: none
    color: $contact-font-color
//Small Menu
.line-back-small
    width: $menu-width
    height: 1px
    background: $menu-line-color

.line-forward-small
    width: $menu-width
    height: 1px
    background: $menu-line-color
    margin-top: 1.3vw

.circle-forward-small
    width: $menu-circle-radius
    height: $menu-circle-radius
    border-radius: 100%
    background: $menu-line-color
    margin-top: (-$menu-circle-radius/2)-0.04vw
    margin-left: 0

.circle-back-small
    width: $menu-circle-radius
    height: $menu-circle-radius
    border-radius: 100%
    background: $menu-line-color
    margin-top: -$menu-circle-radius/2
    z-index: 1
    margin-left: $menu-width - $menu-circle-radius

.menu-box-small
    position: fixed
    right: 9%
    z-index: 10
    margin-top: 5.5vw
    width: $menu-width
    height: $menu-height
    background: none

//Hidden Nav
.overlay
    height: 0
    width: 100%
    position: fixed
    z-index: 1
    left: 0
    top: 0
    background-color: rgba(0, 0, 0, 0)
    height: 20%
    display: none
    transition: 0.5s

.overlay-content
    position: relative
    width: 100%
    text-align: center
    margin-top: 30px
    
.overlay-content > li
    list-style-type: none
    text-decoration: none
    float: left
    min-width: 20%
    
.overlay-content > li > a
    color: $menu-font-color
    text-decoration: none
    
.hidden-nav-overlay
    margin-left: 10%

.hidden-nav-overlay > ul > li:hover
    background-color: rgba(0, 0, 0, 0.4)
    border: solid 1px rgba(255, 255, 255, 0.3)
    padding: 2px

.line-under-container-cont
    position: relative
    width: 70%
    height: 1px

.line-under-contact
    position: absolute
    width: 60%
    height: 1px
    top: auto
    left: 35%
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0 ,1))

// .line-under-rotate
//     right: auto
//     transform-origin: 100%
//     transform: rotate(-22deg)
//     width: 50%
//     transition: 1.5s ease-in-out

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px)
    .container-fluid
        background-size: auto 100%
        
       
    

    
    
  
  


    

