* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  background-color: white;
  font-family: 'Raleway', sans-serif; }

.container-fluid {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  height: 100%; }

.home {
  background-image: url("../gfx/background-tuchowsky-home.jpg"); }

.about {
  background-image: url("../gfx/background-tuchowsky-about.jpg"); }

.music {
  background-image: url("../gfx/background-tuchowsky-music.jpg"); }

.contact {
  background-image: url("../gfx/background-tuchowsky-contact.jpg"); }

.menu {
  position: fixed;
  right: -15%;
  top: 1vh;
  z-index: 10; }

.menu-box > ul > li {
  list-style-type: none;
  padding-top: 20px; }

.menu-box > ul > li:nth-child(1) {
  padding-bottom: 0px; }

.menu-box > ul > li:nth-child(4) {
  padding-bottom: 30px; }

.menu-box > ul > li > a {
  color: #e2e2e8;
  text-decoration: none;
  font-size: 1vw; }

a:hover {
  font-weight: bold; }

.menu-list {
  margin-top: 15px;
  display: none;
  transition: width 1s; }

.menu-box {
  position: fixed;
  margin-top: 4.5vw;
  width: 4.5vw;
  height: 3vw;
  background: none; }

.menu-small {
  display: flex;
  justify-content: center; }

.line-back {
  width: 4.5vw;
  height: 1px;
  background: #e2e2e8; }

.circle-back {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 100%;
  background: #e2e2e8;
  margin-top: -0.44vw;
  margin-left: 3.7vw; }

.line-forward {
  width: 4.5vw;
  height: 1px;
  background: #e2e2e8;
  margin-top: 1.3vw; }

.circle-forward {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 100%;
  background: #e2e2e8;
  margin-top: -0.44vw;
  margin-left: 0; }

.line-under-container {
  position: relative;
  width: 4.5vw;
  height: 1px; }

.anim-line {
  animation: increase-horizontal 2s;
  animation-fill-mode: forwards; }

.line-under {
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  left: auto;
  background: linear-gradient(to right, transparent, #e2e2e8); }

@keyframes increase-horizontal {
  0% {
    width: 0px; }
  100% {
    width: 5vw; } }

.line-under-rotate {
  right: 0%;
  transform-origin: 100%;
  width: 4.5vw;
  transition: 1.5s ease-in-out; }

.anim-line-rot {
  animation: increase-rotate 1.5s;
  animation-fill-mode: forwards; }

@keyframes increase-rotate {
  0% {
    width: 0px; }
  100% {
    width: 4.5vw; } }

.circle-under {
  position: absolute;
  top: -0.32vw;
  right: -0.4vw;
  width: 0.72vw;
  height: 0.72vw;
  border-radius: 50%;
  background-color: #e2e2e8; }

.rot-second {
  transition-delay: 0.5s; }

.rot-third {
  transition-delay: 1s; }

.rot-fourth {
  transition-delay: 1.5s; }

.brand-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.svgBrand {
  width: 55vw;
  height: 55vh; }

.bio-info {
  margin-top: 60px;
  color: #e2e2e8;
  font-size: 13px;
  max-height: 255px;
  overflow-y: scroll; }

.bio-photo {
  margin-top: 60px;
  margin-left: 5px;
  background-image: url("../gfx/background-tuchowsky-about-bio.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  min-height: 25vw; }

.line-back-bio {
  width: 4.5vw;
  height: 1px;
  background: #e2e2e8; }

.bio-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: black; }

.bio-info::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.2); }

#style-2::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #D62929; }

.biography {
  width: 15vw; }

.biography-circle {
  margin-left: 0; }

.music-elements {
  width: 100%; }

.round-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  border: 2px solid #fff;
  margin-top: 5vw; }

.music-tracklist {
  margin-top: 65px; }

.tracks-list > ul {
  height: 30px;
  list-style-type: none; }

.play-button {
  width: 0;
  height: 0;
  border-top: 2.5vw solid transparent;
  border-left: 5.5vw solid #e2e2e8;
  border-bottom: 2.5vw solid transparent; }

.play {
  margin-left: 1.2vw; }

.contact-form {
  box-sizing: border-box;
  margin-top: 20vw;
  color: #020816;
  font-weight: bold;
  text-align: center;
  font-size: 12px; }

.contact-info {
  margin-bottom: 20px; }

.info {
  height: 6vw;
  font-size: 16px; }

.info a {
  text-decoration: none;
  color: #020816; }

.line-back-small {
  width: 4.5vw;
  height: 1px;
  background: #e2e2e8; }

.line-forward-small {
  width: 4.5vw;
  height: 1px;
  background: #e2e2e8;
  margin-top: 1.3vw; }

.circle-forward-small {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 100%;
  background: #e2e2e8;
  margin-top: -0.44vw;
  margin-left: 0; }

.circle-back-small {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 100%;
  background: #e2e2e8;
  margin-top: -0.4vw;
  z-index: 1;
  margin-left: 3.7vw; }

.menu-box-small {
  position: fixed;
  right: 9%;
  z-index: 10;
  margin-top: 5.5vw;
  width: 4.5vw;
  height: 3vw;
  background: none; }

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: transparent;
  height: 20%;
  display: none;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay-content > li {
  list-style-type: none;
  text-decoration: none;
  float: left;
  min-width: 20%; }

.overlay-content > li > a {
  color: #e2e2e8;
  text-decoration: none; }

.hidden-nav-overlay {
  margin-left: 10%; }

.hidden-nav-overlay > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border: solid 1px rgba(255, 255, 255, 0.3);
  padding: 2px; }

.line-under-container-cont {
  position: relative;
  width: 70%;
  height: 1px; }

.line-under-contact {
  position: absolute;
  width: 60%;
  height: 1px;
  top: auto;
  left: 35%;
  background: linear-gradient(to right, transparent, black); }
