* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  background-color: white;
  font-family: 'Raleway', sans-serif; }

.container-fluid {
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 100%;
  height: 100%; }

.home {
  background-image: url("../gfx/background-tuchowsky-home.jpg"); }

.about {
  background-image: url("../gfx/background-tuchowsky-about.jpg"); }

.music {
  background-image: url("../gfx/background-tuchowsky-music.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contact {
  background-image: url("../gfx/background-tuchowsky-contact.jpg"); }

.menu {
  position: fixed;
  right: -15%;
  top: 5vh;
  z-index: 10; }

.menu-box > ul > li {
  list-style-type: none; }

.menu-box > ul > li > a {
  color: #e2e2e8;
  text-decoration: none;
  font-size: 1vw; }

.menu-list {
  margin-top: 15px;
  display: none; }

.brand-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.svgBrand {
  width: 55vw;
  height: 55vh; }

.menu-box {
  position: absolute;
  margin-top: 5vw;
  margin-left: 5vw;
  width: 4.5vw;
  height: 3vw;
  background: none; }

.line-back {
  width: 4.5vw;
  height: 1px;
  background: #e2e2e8; }

.circle-back {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 100%;
  background: #e2e2e8;
  margin-top: -0.44vw;
  margin-left: 3.7vw; }

.line-forward {
  width: 4.5vw;
  height: 1px;
  background: #e2e2e8;
  margin-top: 1.3vw; }

.circle-forward {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 100%;
  background: #e2e2e8;
  margin-top: -0.44vw;
  margin-left: 0; }

.music-elements {
  width: 100%; }

.round-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  border: 2px solid #fff; }

.list {
  display: flex;
  justify-content: center; }

.tracks-list {
  padding-top: 5vw;
  display: none; }

.play-button {
  width: 0;
  height: 0;
  border-top: 3.5vw solid transparent;
  border-left: 6.5vw solid #e2e2e8;
  border-bottom: 3.5vw solid transparent; }

.play {
  margin-left: 1.2vw; }
