$body-color: white
// $body-color: #0a1016
$menu-font-color: #e2e2e8
$contact-font-color: #020816

$hader-color: #5a5c51
$content-color: #024277
$footer-color: #aa863a


$home-photo: url("../gfx/background-tuchowsky-home.jpg")
$about-photo: url("../gfx/background-tuchowsky-about.jpg")
$music-photo: url("../gfx/background-tuchowsky-music.jpg")
$contact-photo: url("../gfx/background-tuchowsky-contact.jpg")


*
    margin: 0
    padding: 0

body, html 
    height: 100%
    background-color: $body-color
    font-family: 'Raleway', sans-serif


.container-fluid
    background-repeat: no-repeat
    background-position: top
    background-size: auto 100%
    height: 100%
    
.home   
    background-image: $home-photo
    
.about
    background-image: $about-photo
 
.music
    background-image: $music-photo
  

.contact
    background-image: $contact-photo

.menu
    position: fixed
    right: -15%
    top: 1vh
    z-index: 10

.menu-box > ul > li
    list-style-type: none

.menu-box > ul > li > a
    color: $menu-font-color
    text-decoration: none
    font-size: 1vw

.menu-list
    margin-top: 15px
    display: none

.brand-container
    height: 100%
    display: flex
    justify-content: center
    align-items: center
  
.svgBrand
    width: 55vw
    height: 55vh

//menu button
$menu-width: 4.5vw
$menu-height: 3vw
$menu-circle-radius: 0.8vw
$menu-line-color: #e2e2e8

.menu-box
    position: fixed
    margin-top: 4vw
    width: $menu-width
    height: $menu-height
    background: none

.menu-small
    display: flex
    justify-content: center


.line-back
    width: $menu-width
    height: 1px
    background: $menu-line-color
    
.circle-back
    width: $menu-circle-radius
    height: $menu-circle-radius
    border-radius: 100%
    background: $menu-line-color
    margin-top: (-$menu-circle-radius/2)-0.04vw
    margin-left: $menu-width - $menu-circle-radius

.line-forward
    width: $menu-width
    height: 1px
    background: $menu-line-color
    margin-top: 1.3vw

.circle-forward
    width: $menu-circle-radius
    height: $menu-circle-radius
    border-radius: 100%
    background: $menu-line-color
    margin-top: (-$menu-circle-radius/2)-0.04vw
    margin-left: 0

//Music Page Player
.music-elements 
    width: 100%

.round-player
    display: flex
    justify-content: center
    align-items: center
    margin: auto
    width: 15vw
    height: 15vw
    border-radius: 100%
    border: 2px solid #fff
    margin-top: 5vw
.list
    display: flex
    justify-content: center

.tracks-list > ul
    height: 30px
    list-style-type: none

.play-button
	width: 0
	height: 0
	border-top: 2.5vw solid transparent
	border-left: 5.5vw solid $menu-font-color
	border-bottom: 2.5vw solid transparent

.play
    margin-left: 1.2vw
//contact 
.contact-form
    box-sizing: border-box
    margin-top: 20vw
    color: $contact-font-color
    font-weight: bold
    text-align: center
    font-size: 12px

.contact-info
    margin-bottom: 20px

.info
    height: 6vw
    font-size: 16px

.info a
    text-decoration: none
    color: $contact-font-color

.line-back-small
    width: $menu-width
    height: 1px
    background: $menu-line-color

.line-forward-small
    width: $menu-width
    height: 1px
    background: $menu-line-color
    margin-top: 1.3vw

.menu-box-small
    position: fixed
    margin-top: 4vw
    width: $menu-width
    height: $menu-height
    background: none





    
    
    
    
  
  


    

